<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.8.0" targetFramework="net46" />
  <package id="MathNet.Spatial" version="0.3.0" targetFramework="net46" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="PropertyTools" version="3.0.0" targetFramework="net472" />
  <package id="System.Waf.Core" version="4.1.0" targetFramework="net461" />
</packages>